.footer-socials-list {
  display: flex;
  min-height: 80px;
  justify-content: center;
  align-items: center;
  background-color: #2E2B44;
}

.footer-socials-list__item:not(:last-child) {
  margin-right: 30px;
}

.footer-bot-row {
  display: flex;
  justify-content: center;
}

.footer-bot-row__text {
  margin: 0;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
}

.footer-mark {
  color: blue;
}
